# SEMANA 03
Mauricio LLanos

5. Operaciones

In [1]:
#5.1 Operadores aritmeticos
#Se tiene: +,-,*,/,**,%,//

In [5]:
numero1 =10
numero2 = 3
suma = numero1 + numero2
resta = numero1 - numero2
multiplicacion = numero1 * numero2
division = numero1 / numero2
residuo = numero1 % numero2
cociente = numero1 // numero2
potencia = numero1 ** numero2
print(suma)
print (resta)
print(multiplicacion)
print(division)
print(residuo)
print(cociente)
print(potencia)

13
7
30
3.3333333333333335
1
3
1000

In [6]:
#Operadores de Asignacion
#Se tiene: =, +=, -=, *=,  /=, **=
numero = 5
numero +=3
print(numero)

8

In [7]:
#Lo mismo se puede hacer con todos los casos, incluiso la potencia 
#veamos otro ejemplo:
numero = 5
numero = numero ** 3
print(numero)

125

In [8]:
#La operacion anterior tambien se puede expresar de la sigueitne manera:
numero = 5
numero = 5
numero **=3
print(numero)

125

In [9]:
#5.3 Operadores de comparacion
# Se tiene: ==, !=, <, >, <=, >=
#Ejemplo de igualdad

In [11]:
numero1 = 5
numero2 = 2
numero1 == numero2

False

In [12]:
numero1 = "Juan"
numero2 = "Juan"
numero1 == numero2

True

In [14]:
#5.4 Operadores Logicos
#Se tiene: and, or, not
numero1 = 4
numero2 = 8
numero3 = 7
numero4 = 3

In [15]:
#El not invierte el resultado
not(numero1 < numero2)

False

In [16]:
numero1<numero2 and numero3 < numero4

False

In [17]:
#Tambien podemos utilizar parentesis para ordenar tu operacion
(numero1 < numero2 and numero3>numero4) or (numero1>numero4)

True