# SEMANA 03 
Mauricio LLanos Rojas

In [2]:
cadena = "Universidad Nacional Tecnologica de Lima Sur"
cadena

'Universidad Nacional Tecnologica de Lima Sur'

In [3]:
#Universidad Nacional Tecnologica de Lima Sur
#1234.....................................-2-1

In [4]:
cadena[5]

'r'

In [5]:
cadena[10]

'd'

In [7]:
#Considera los espacios en blanco
cadena [11]

' '

In [8]:
#¿Que me mostrará ?
cadena[-5]

'a'

In [9]:
cadena[21]

'T'

In [10]:
cadena[-23]

'T'

In [11]:
#Para mostrar una subcadena[desde, hasta una antes]
#En java era substring()
cadena[3:8]

'versi'

In [12]:
#Para saber el tamaño de la cadena utilizamos len()
#incluye los espacios en blanco
len(cadena)

44

In [13]:
#Para mostrar una cadena en mayuscula utilizamos upper()
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLOGICA DE LIMA SUR'

In [14]:
#Ojo ... solo lo muestra porque el original se mantiene
cadena

'Universidad Nacional Tecnologica de Lima Sur'

In [15]:
#Si deseamos cambiarlo hariamos: cadena = cadena.upper()
cadena = cadena.upper()

In [16]:
cadena

'UNIVERSIDAD NACIONAL TECNOLOGICA DE LIMA SUR'

In [17]:
#Para mostrar una cadena en minuscula utilizamos lower()
cadena.lower()

'universidad nacional tecnologica de lima sur'

In [18]:
#una lista utilizando un criterio de separacion a partir de una cadena. split()
cadena.split()

['UNIVERSIDAD', 'NACIONAL', 'TECNOLOGICA', 'DE', 'LIMA', 'SUR']

In [21]:
#una lista utilizando un criterio de separacion a partir de una cadena. split()
#y vamos a generar una lista donde en toda la cadena se omite la o
cadena.split("O")

['UNIVERSIDAD NACI', 'NAL TECN', 'L', 'GICA DE LIMA SUR']

In [22]:
#Forma clasica, concatenar con +
nombre = "Mauricio LLanos"
print("Buenas Tardes" + nombre)

Buenas TardesMauricio LLanos

In [23]:
#Utilizando el format()
nombre = "Mauricio LLanos"
edad = 21
print ("hola {} ya se que tienes {} años".format(nombre,edad))

hola Mauricio LLanos ya se que tienes 21 años

In [25]:
#Dar formato a numeros con muchos decimales
resultado = 10/3
print("10/3 es = {} ".format(resultado))
print("10/3 es = {r:1.3f} ".format(r=resultado))

10/3 es = 3.3333333333333335
10/3 es = 3.333

In [26]:
#Dar formato con f
#La funcion F, esta disponible a partir de la version 3.6

In [27]:
nombre = "Mauricio LLanos"
edad = 21
print(f"buenos dias {nombre}, ya se que tienes {edad} años")

buenos dias Mauricio LLanos, ya se que tienes 21 años

In [30]:
#Dar formato con muchos decimales utilizando f
resultado = 10/3
print(f"10/3 es ={resultado}")
print(f"10/3 es = {resultado:1.3f}" )

10/3 es =3.3333333333333335
10/3 es = 3.333